*{
    margin: 0;
    padding: 0;
    font-family:merriweather,
    src=url("c:\Users\User\Downloads\Merriweather.zip")
}
/*Banner section*/
.Banner{
    background-image: url("resources/Banner Image.png");
    background-size: cover;
    height: 600px;
    width: 1320px;
    margin-top: 50px;
    margin-left: 140px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#greeting{
    margin-left: 186px;
    height: 40px;
    width: 259px;
    font-size: 32px;
    color:skyblue;
    
}
#wish{
    height: 190px;
    width: 632px;
    font-size: 72px;
    color:skyblue;
    text-align: center;
}