*{
    margin: 0;
    padding: 0;
    font-family:merriweather,
    src:url("c:\Users\User\Downloads\Merriweather.zip")
}
/*Banner section*/
.Banner{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("resources/Banner Image.png");
    background-size: cover;
    height: 600px;
    width: 1320px;
    margin-top: 50px;
    margin-left: 140px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#greeting{
    margin-left: 186px;
    height: 40px;
    width: 259px;
    font-size: 32px;
    color:white;
    
}
#wish{
    height: 190px;
    width: 632px;
    font-size: 72px;
    color:white;
    text-align: center;
}
/*Discount section*/
#discount{
    color: #F00;
    text-align: center;
    font-size: 88PX;
    margin-top: 120px;
}
#discount2{
    color: #F00;
    text-align: center;
    font-size: 24PX;
    font-weight: 600;
    margin-top: 48px;
   
}
#discount3{
    color:#070211;
    font-size: 48PX;
    font-weight: 700;
    text-align: center;
}
#happy-new-year-image{
    margin-left: 399px;
    height: 500px;
    width: 803px;
    background-image: url("resources/New Year Photo.png");
    background-size: cover;
}
/*Jonning section*/
.joinning-Section{
    height: 600px;
    width: 1320px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("resources/Vectorrr.png");
    background-size: cover;
    margin-left: 140px;
    margin-top: 120px;
    display: flex;
    color: white;
}
.text-part{
    width: 1500px;
}
#WLC-mid-party{
    height: 176px;
    width: 500px;
    font-size: 64px;
    margin-left: 126px;
    margin-top: 126px;
}
#Join{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    margin-left: 126px;
    margin-top: 24px;

}
#join-button{
  margin-top: 48px;
  margin-left: 158px;
  font-size: 20px;
  color: white;
}
button{
    background-color: transparent;
    color: white;
}
.image2024{
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*place-date-time*/
.place-date-time{
    height: 482px;
    width: 1320px;
    margin-left: 140px;
    margin-top: 220px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    justify-content: center;
}
#place-date-time{
    height: 168px;
    width: 550px;
    margin-top: 100px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
span{
    color: #F00;
}
#Button2{
    color: white;
    background-color: #F00;
    height: 56px;
    width: 126px;
    border-radius: 8px;
    margin-top: 48px;
    border-style: none;
}
/*Offer Section*/
.Offer-Section{
    height: 463px;
    width: 1320px;
    margin-left: 140px;
    margin-top: 220px;
    background-color: white;
    display: flex;
}
#offer{
    width: 430px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ofr-txt1{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}
#ofr-txt2{
    color: black;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    margin-top: 15px;

}
#ofr-txt3{ color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: 22px;

}
#celebration-image{
    height: 100%;
    width: 463px;
    border-radius: 50%;
    border:15px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Clb-img{
    height: 364px;
    width: 364px;
    border-radius: 50%;
    border:0px solid transparent;
    background-image:url("resources/Ellipse 1.png") ;
    background-size: cover;
}
#offerSection-Text{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ofr-description{
    width: 276px;
}
#ofr2024{
    font-size: 48px;
    font-weight: 700;
    color: #F00;
    text-align: center;
}
#offerSection-Text{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    margin-top: 80px;
}
#img-ofr-des{
   margin-top: 170px;
}
/*function part*/
.FunCtion{
    background-color: white;
    width: 1320px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 220px;
    margin-left: 140px;

}
#func-1{
    color:#070211;
    font-size: 24px;
    font-weight: 500;
}
#func-2{
    color:#070211;
    font-size: 72px;
    font-weight: 900;
    margin-top: 28px;

}
#func-3{
    color:rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    margin-top: 28px;
}
/*Photo Section*/
.Photo-Discount{
    height: 433px;
    width: 1320px;
    background-color: white;
    margin-left: 140px;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
}
.blank-Side{
    width: 892px;
    height: 100%;
    background-color: white
}
.img-dc{
    float: right;
}
.Photo-side{
    display: flex;
    align-items: center;
}
#above{
    height: 210px;
    width: 210px;
    background-color: transparent
    border-radius: 50%;
    border: 0px solid white;
    background-image: url("resources/Group 44.png");
    background-size: cover;
    position: relative;
    left: 100px;
}
/*Gift box section*/
.Gift-box{
    height: 229px;
    width: 1320px;
    margin-left: 140px;
    background-image: url("resources/Rectangle 2.png");
    background-size: cover;
}
.gift-box-img{
    height: 229px;
    width: 350px;
    position: relative;
    bottom: 370px;
    left: 40px;

}
/*best gift section*/
.best-Gifts-section{
    margin-left: 140px;
    margin-top: 120px;
    text-align: left;
    line-height: 80px;
}
#Best-Gift{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
#portfolio{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}
#Praise{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
.Choice-gifts{
    height: 304px;
    width: 1325px;
    margin-left: 140px;
    display: flex;
    flex-wrap: wrap;
}
.bag-1{
    height: 450px;
    width: 424px;
    background-color: white;
    background-image: url("resources/Rectangle 3.png");
    background-size: cover;
    margin-right: 24px;
}
.bag-2{
    height: 450px;
    width: 424px;
    background-color: white;
    margin-right: 24px;
    background-image: url("resources/Rectangle 4.png");
    background-size: cover;
}
.shoe-1{
    height: 450px;
    width: 424px;
    background-color: white;
    background-image: url("resources/Rectangle 5.png");
    background-size: cover;
}
.shoe-2{
    height: 450px;
    width: 424px;
    margin-top: 24px;
    margin-right: 24px;
    background-color:white;
    background-image: url("resources/Rectangle 6.png");
    background-size: cover;
}
.glass{
    height: 450px;
    width: 424px;
    background-color: white;
    margin-top: 24px;
    margin-right: 24px;
    background-image: url("resources/Rectangle 7.png");
    background-size: cover;
}
.bangles{
    height: 450px;
    width: 424px;
    background-color: white;
    margin-top: 24px;
    background-image: url("resources/Rectangle 8.png");
    background-size: cover;
}
.hv{
    border: 1px solid transparent;
}
.hv:hover{
    border: 1.5px solid black;
    border-radius: 5px;
}